<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionStrings>
    <clear/>
    <add name="TPredDB" connectionString="data source=(localdb)\\MSSQLLocalDB;initial catalog=TPred;integrated security=True;asynchronous processing=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </ConnectionStrings>
</configuration>